canvas {
	width: 100%;
	height: 100%;
	background: black;
	display: block;
}

body, html {
	height: 100%;
	margin: 0;
}

.title {
	margin: 0 auto;
	font-size: 22px;
	color: darkturquoise;
	text-align: center;
	background: black;
}